<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SparrowUI" value="localhost/MIDORIYA_102_111111/UserManagement/"/>
		<add key="Youtube" value="https://youtube.com/"/>
		<add key="Browser" value="chrome"/>
		<add key ="CoreIP" value="localhost"/>
		<add key="CoreUser" value="naruto"/>
		<add key="CorePwd" value="metoo#2827"/>
	</appSettings>
	
</configuration>
